/* JUST FOR DEMO PURPORSES, REPLACE WITH YOUR OWN CODE */

.body { 
  padding: 3rem;
  column-count: 2;
  column-width: 10px;
  column-fill: auto;
  margin-left: 6rem;
  margin-top: 2rem;
}

.albumpic {
  padding-bottom: 6rem;
}
/* END DEMO */
