.AlbumPageContainer {
  margin-left: 200px;
  margin-top: 130px;
}

#songlist {
  border: 1px solid crimson;
  /* margin: 0 10rem; */
  color: white;
  list-style-type: upper-roman;
  font-size: 21px;
  border-radius: 10rem;
  border-color: crimson;
  display: block;
  padding: 1rem;
  transition: all 1.5s;
  text-align: left;
  width: 700px;
}
#songlist:hover {
  color: crimson;
  font-size: 20px;
  transform: scale(1.1);
  box-shadow: 0 0 30px 0 crimson;
  transition: 1.5s;
}

#AlbumArtistName {
  margin-top: 1px;
  margin-left: 45px;
  color: crimson;
}

#AlbumNames {
  margin-left: 45px;
  margin-top: 2rem;
  color: #f4f4f4;
}

#AlbumGenre {
  color: #a1a1a8;
  /* margin-top: 1rem; */
  margin-bottom: 4rem;
  margin-left: 45px;
}

.AlbumCoverPic {
  margin-left: 45px;
}

BiPlayCircle {
  cursor: pointer;
}
