.AlbumPageContainer {
  margin-left: 200px;
  margin-top: 130px;
}


#songlist { 
  color: white;
  list-style-type: none;
  border-top: 1px solid #E2E2E2;
}

#AlbumArtistName {
  color:#C6363D;
}

#AlbumNames {
color:#F4F4F4;
}

#AlbumGenre {
  color:#A1A1A8
}

