.btn {
  margin-top: 40px;
  margin-left: 50px;
  padding: 8px 20px;
  background:linear-gradient(to bottom, #A1A1A8 5%, #F82D48 100%);
	background-color:#A1A1A8;
	border-radius:18px;
	border:1px solid #F82D48;
  cursor: pointer;
  display:inline-block;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
}


.btn:hover {
  background: #F82D48;
  transition: 250ms;
  transform: scale(1.1);
  cursor: pointer;
  transition: all 0.3s ease-out;
}


.cards__item__link {
  display: flex;
  height: 300px;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
  
}

.cards__item__link:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.cards__item__info{
  padding: 0%;
  margin-left: 0%;
}

.cards{
 
}

.cards__container{
  justify-content: center;
  align-items: center;
  
}

.cards__wrapper{
  height: 200px;
  position: relative;
 
}

.cards__items{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-right: auto;
}

.cards__album__text {
  color: #F82D48;
  font-size: 14px;
  text-align: left;
}

.cards__artist_text {
  color: #F82D48;
  font-size: 10px;
  text-align: left;
  opacity: 40%;
}


.sortButtons{
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}
 

* {
  background-color: #202020;
}

.nav {
  z-index: 1;
  background-color: #333333;
  overflow-x: hidden;
}

.nav ul {
  background-color: #333333;
  margin-top: 10px;
}

.nav ul:hover {
  color: #F82d48;
}

.nav li {
  margin-right: 40px;
  list-style-type: none;
  font-size: 25px;
  color: #c9c9c9;
  background-color: #333333;
}

li {
  display: inline;
}

li:hover {
  color: #F82d48;;
  cursor: pointer;
}

/* .main {
  background-image: url()
} */
