/* 
  
  .welcome-page-searchbar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    opacity: 0.7;
    
  } 

.welcome-input:hover {
    border-radius: 50px;
    border-bottom: 3px solid #fa233b;
    border-top: 3px solid #fa233b;
    border-color: #fa233b;
    background-color: crimson;
    width: 500px;
    height: 50px;
    
    /* z-index: 5; */

/* }    */

/* search bar adjustments */

/* .welcome-input {
    box-shadow: 0 0 25px 0 crimson,
    0 20px 25px 0 rgba(0, 0, 0, 0.2);
    border-radius: none;
    background:crimson;
    height: 70px;
    width: 90px;
    padding-right: 60px;
    font-size: 50px;
    font-family: "Helvetica", sans-serif;
    cursor: pointer;
    transition: 1s;
    text-indent: 20px;
    box-shadow: 0 0 25px 0 crimson,
                    0 20px 25px 0 rgba(0, 0, 0, 0.2);
                    
   
}  */

@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');

.searchContainer {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 500px;
  width: 300px;
  height: 45px;
  background-color: transparent;
}
.searchContainer .search {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 80px;
  background: crimson;
  border-radius: 50%;
  transition: all 1s;
  z-index: 4;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}

.searchContainer .search:hover {
  cursor: pointer;
}
.searchContainer .search::before {
  content: '';
  position: absolute;
  margin: auto;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 22px;
  width: 12px;
  height: 2px;
  background: white;
  transform: rotate(45deg);
  transition: all 0.5s;
}
.searchContainer .search::after {
  content: '';
  position: absolute;
  margin: auto;
  top: -5px;
  right: 0;
  bottom: 0;
  left: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all 0.5s;
}

.searchInput {
  font-family: 'Inconsolata', monospace;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;

  background: crimson;
  color: white;
  text-shadow: 0 0 10px crimson;
  padding: 0 80px 0 20px;
  border-radius: 30px;
  box-shadow: 0 20px 25px 0 rgba(0, 0, 0, 0.8);

  transition: all 1s;
  opacity: 0;
  z-index: 5;
  font-weight: bolder;
  letter-spacing: 0.1em;
}
.searchInput:hover {
  cursor: pointer;
}
.searchInput:focus {
  width: 300px;
  opacity: 1;
  cursor: text;
}
.searchInput:focus ~ .search {
  right: -250px;
  background: #151515;
  z-index: 6;
}
.searchInput:focus ~ .search::before {
  top: 0;
  left: 0;
  width: 25px;
}
.searchInput:focus ~ .search::after {
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  border: none;
  background: white;
  border-radius: 0%;
  transform: rotate(-45deg);
}

.searchInput:focus ~ .search::placeholder {
  color: white;
  opacity: 0.5;
  font-weight: bolder;
}
